
#section-one{
  background-color: yellow;
  margin-top: 20px;
  box-shadow: 0 4px 4px 0 rgba(139, 127, 127, 0.2), 0 4px 4px 0 rgba(146, 118, 118, 0.19);
 }

#profile{
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
 }

.profile-picture img{
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(139, 127, 127, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 #profile-info{
   margin-top: 10px;
   margin-bottom: 10px;
 }
  
#profile-info #name{
  font-size: 40px;
  font-weight: bold;
 }

#profile-info #job{
  font-size: 25px;
  font-weight: bold;
  color: blue;
 }

 .card-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
 }

#section-two{
  margin-top: 8px;
  width: auto;
 }

#section-two #about{
  font-size: 20px;
  font-style: inherit;
  text-align: justify;
  padding: 15px;
 }

#section-two #degree, #university {
  font-size: 20px;
  font-weight: bold;
 }

#section-two #place {
  font-size: 15px;
}

#sectoin-three #work-experience p {
  font-size: 20px;
}

#experience-card{
  padding: 5px;
  margin-left: 25%;
  text-align: justify;
}

#experience-card .exp-date{
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px;
}

#experience-card #job{
  font-size: 20px;
  font-weight: bold;
}

#experience-card #company {
  font-size: 18px;
}

#experience-card #place {
  font-size: 12px;
}

span.hidden{
  display: none;
}

@media screen and (max-width: 600px) {
  #section-two #education {
    margin-top: 3px;
  }

  #experience-card .exp-date{
    font-size: 18px;
  }

  #experience-card .v-line {
    border-left: 3px solid rgb(129, 127, 236);
    margin-left: 30px;
  }

  span {
    margin-left: 23px;
    color: blue;
  }

  span.hidden{
    display: block;
  }

  .v-line p{
    margin-left: 20px;
  }

  .cc-experience-header {
    margin-bottom: -30px;
  }

  #experience-card {
    margin-left: 0px;
  }
}